// === Fonts ===
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-xs: 12px;
$fz-sm: 15px;
$fz-md: 24px;
$fz-lg: 36px;
$fz-xl: 48px;
// === / Fonts ===

// === Paddings ===
$p-xs: 20px;
$p-sm: 60px;
$p-md: 120px;
// === / Paddings ===

// === Colors ===
$c-primary: #8d96bd;
// === / Colors ===